<form action="https://script.google.com/macros/s/AKfycbx8g7keBA7ndYp9JEo84-u4_DZ-Gc48Yw1aYzMqAMHmcX2_OP-EVeu_3m_b6qqZT9sQ/exec" method="POST">
  <label for="name">Name</label><br>
  <input type="text" name="name" required><br><br>

  <label for="email">Email</label><br>
  <input type="email" name="email" required><br><br>

  <label for="message">Message</label><br>
  <textarea name="message" rows="5" required></textarea><br><br>

  <label>
    <input type="checkbox" name="download" value="yes">
    I want the free checklist
  </label>

  <input type="submit" value="Send Message">
</form>

